<md-card style="width: {{viewport.container}};">

  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2 class="md-flex">Red Carpet</h2>
    </div>
  </md-toolbar>

  <md-card-content layout="column" layout-margin>

    <p ng-if="mode == 'upload'">
      Processing your request
    </p>

    <p ng-if="mode == 'retry'">
      Error submitting your request.
      Click Retry to vote again.
    </p>

    <br/>
    <md-divider></md-divider>
    <br/>

    <div ng-if="mode == 'upload'" layout="row" layout-align="center">
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>

    <div ng-if="mode == 'retry'" layout-fill layout="row" layout-align="center center">
      <md-button class="md-primary md-raised" ng-click="vote()">Retry</md-button>
    </div>

  </md-card-content>
</md-card>
